.header {
    height: 120px;
    background-image: linear-gradient(0, #FE6433, #F53E2D);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    padding-left: 0;
    margin-top: 6px; 
}

.navbar-item,
.navbar-item__link{
    list-style: none;
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-item {
    position: relative;
    margin: 0 8px; 
}

.navbar-item--strong {
    font-weight: 400;
}
.navbar-item--saparate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
}

.navbar-item--saparate:hover .navbar-QrCodeAndApp{
    display: block;
}



.navbar-item__icon:hover,   
.navbar-item:hover{
    opacity: 0.8;
    cursor: pointer;
}

.reset_hover:hover {
    opacity: 1;
    cursor:text;
}

.navbar-item__icon{
    font-size: 1.3rem;
    color: var(--white-color); 
    direction: none;
    
}

.navbar-QrCodeAndApp{
    position: absolute;
    padding : 16px; 
    border-radius: 2px;
    background-color: var(--white-color);
    width: 180px;
    top: 150%;
    display: none;
}

.navbar-QrCodeAndApp::before{
    content: "";
    position: absolute;
    color: black;
    top: -8px;
    left: -1px;
    width: 114%;
    height: 10%;
}


.navbar-QrCode{
    
}

.navbar-QrCode__img{
    width: 100%; 
}

.navbar-App{
    display: inline-flex;
}

.navbar-App__linkApp{

}

.navbar-App_img{
    width: 100%;
    padding: 16px 4px;
}